@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0px;
}
.padding{
    padding: 10px 90px;
    font-family: 'Poppins', sans-serif;
}
header{
    align-items: center;
    border-bottom: 1px solid grey;
}
header span{
    display: flex;
    align-items: center;
}
.text-underline{
    text-decoration: underline;
}
.card{
    display: flex !important;
}
.card-right{
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
}
.list-group{
    list-style: none;
}
footer{
    border-top: 1px solid rgb(200, 200, 200);
}
@media screen and (max-width: 923px){
    .card-text h1{
        font-size: 20px;
        margin: 0px !important;
    }
    .card-text p{
        font-size: 12px;
        margin: 0px !important;
    }
    .card-text span{
        font-size: 12px;
    }
    .card-text a{
        font-size: 14px;
    }
    .About p{
        font-size: 12px;
    }
    .main_text{
        font-size: 24px;
    }
    .sec3 div p{
        font-size: 13px;
    }
    .sec3 div ul{
        font-size: 13px;
    }
}
@media screen and (max-width: 600px){
    .sec1 h1{
        font-size: 25px;
        margin: 0px !important;
    }
    .sec1 p{
        font-size: 12px;
        margin-top: 20px;
    }
    .sec1 a{
        font-size: 15px !important;
    }
    .About p{
        font-size: 10px !important;
    }
}